<ion-view view-title="Comentarios">
  <ion-content class="padding" has-header="true">

<div class="list">

	<a class="item" href="#/seleccion_grupo/insertar/{{dniDocente}}">
		Insertar cometario
	</a>
	<a class="item" href="#/seleccion_grupo/ver/{{dniDocente}}">
		Ver cometarios
	</a>
	<a class="item" href="#/seleccion_grupo/eliminar/{{dniDocente}}">
		Eliminar cometarios
	</a>		
	
    <div class="item item-divider">
	    Equipo directivo
    </div>
	
	
	<a class="item" href="#/ed_seleccion_grupo_coment/{{dniDocente}}/insertar_eq">
		Insertar cometario de cualquier alumno
	</a>
	<a class="item" href="#/ed_seleccion_grupo_coment/{{dniDocente}}/ver_eq">
		Ver cometarios de cualquier grupo
	</a>
	<a class="item" href="#/ed_seleccion_grupo_coment/{{dniDocente}}/eliminar_eq">
		Eliminar cometarios
	</a>

	
</div>	
	
<!-- 	<ul class="list">
		<a href="#/seleccion_grupo/insertar" class="item" >Insertar cometario</a>
		<a href="#/seleccion_grupo/ver" class="item" >Ver comentarios</a>
		<a href="#/seleccion_grupo/eliminar" class="item" >Eliminar comentarios</a>
   </ul> -->
   
  </ion-content>
</ion-view>

