<ion-view view-title="Seleccione el dia que va a faltar">
    <ion-content class="padding" has-header="true">
        <label class="item item-input">
            <span class="input-label">Escriba la fecha con el siguiente formato (YYYY-MM-DD) </span>
            <input type="text" ng-model="fecha"/>
        </label>
        <a href="#/motivo/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/"><button class="button button-full button-positive">
                Continuar
        </button></a>
    </ion-content>
</ion-view>