<ion-view view-title="Second screen - {{nombre}} - {{nia}} - {{grupo}}">
  <ion-content class="padding" has-header="true">


  <div class="list card" ng-repeat="profesor in profesores">
		<center><h6>{{profesor.contenido}}</h6>
		<p>{{profesor.nombre}} {{profesor.apellido1}}</p></center>
	  <div class="item item-image">
		<img src="https://iessanvicente.com/imgs/prof/0{{profesor.documento}}.jpg" width='100%' height='100%' >
	  </div>
	  
<!-- 	  <a class="item item-icon-left assertive" href="#">
		<i class="icon ion-music-note"></i>
		Start listening
	  </a> -->

	</div>
	
  
  </ion-content>
</ion-view>

