<ion-view view-title="Prueba del horario">
  <ion-content class="padding" has-header="true">

		<!-- 	
     <div class="row responsive-sm">
       <div class="col">
			  <a class="item" href="#">
				Butterfinger
			  </a>
	   </div>
	   
       <div class="col"><h2>Cell Two</h2>
	   
</div>
	   
	   </div>
       <div class="col"><h2>Cell Three</h2></div>
     </div>
	  -->
<!-- 	  
     <div class="row responsive-sm">
       <div class="col"><h4>Cell One</h4></div>
       <div class="col"><h2>Cell Two</h2></div>
     </div>
 -->

	  
	  		<TABLE width='100%'>
				<TR>
                                    <TH width='8%'><b>Hora</b></TH>
				   <TH><b>Lunes</b></TH>
				   <TH><b>Martes</b></TH>
				   <TH><b>Miercoles</b></TH>
				   <TH><b>Jueves</b></TH>
				   <TH><b>Viernes</b></TH>
				</TR>
			<TR>
						
			   <TD><center>8:00</center></TD>
			   <TD><center>{{horario[0][0][0].contenido}}</center></TD>
			   <TD><center>{{horario[1][0][0].contenido}}</center></TD>
			   <TD><center>{{horario[2][0][0].contenido}}</center></TD>
			   <TD><center>{{horario[3][0][0].contenido}}</center></TD>
			   <TD><center>{{horario[4][0][0].contenido}}</center></TD>
			   </TR>
			<TR>
			   <TD><center>9:00</center></TD>
			   <TD><center>{{horario[0][1][0].contenido}}</center></TD>
			   <TD><center>{{horario[1][1][0].contenido}}</center></TD>
			   <TD><center>{{horario[2][1][0].contenido}}</center></TD>
			   <TD><center>{{horario[3][1][0].contenido}}</center></TD>
			   <TD><center>{{horario[4][1][0].contenido}}</center></TD>
			</TR>
			<TR>
			   <TD><center>10:00</center></TD>
			   <TD><center>{{horario[0][2][0].contenido}}</center></TD>
			   <TD><center>{{horario[1][2][0].contenido}}</center></TD>
			   <TD><center>{{horario[2][2][0].contenido}}</center></TD>
			   <TD><center>{{horario[3][2][0].contenido}}</center></TD>
			   <TD><center>{{horario[4][2][0].contenido}}</center></TD>
			</TR>
			<TR>
			   <TD><center>11:00</center></TD>
			   <TD><center>{{horario[0][3][0].contenido}}</center></TD>
			   <TD><center>{{horario[1][3][0].contenido}}</center></TD>
			   <TD><center>{{horario[2][3][0].contenido}}</center></TD>
			   <TD><center>{{horario[3][3][0].contenido}}</center></TD>
			   <TD><center>{{horario[4][3][0].contenido}}</center></TD>
			</TR>
			<TR>
			   <TD><center>12:00</center></TD>
			   <TD><center>{{horario[0][4][0].contenido}}</center></TD>
			   <TD><center>{{horario[1][4][0].contenido}}</center></TD>
			   <TD><center>{{horario[2][4][0].contenido}}</center></TD>
			   <TD><center>{{horario[3][4][0].contenido}}</center></TD>
			   <TD><center>{{horario[4][4][0].contenido}}</center></TD>
			</TR>
			<TR>
			   <TD><center>13:00</center></TD>
			   <TD><center>{{horario[0][5][0].contenido}}</center></TD>
			   <TD><center>{{horario[1][5][0].contenido}}</center></TD>
			   <TD><center>{{horario[2][5][0].contenido}}</center></TD>
			   <TD><center>{{horario[3][5][0].contenido}}</center></TD>
			   <TD><center>{{horario[4][5][0].contenido}}</center></TD>
			</TR>
			<TR>
			   <TD><center>14:00</center></TD>
			   <TD><center>{{horario[0][6][0].contenido}}</center></TD>
			   <TD><center>{{horario[1][6][0].contenido}}</center></TD>
			   <TD><center>{{horario[2][6][0].contenido}}</center></TD>
			   <TD><center>{{horario[3][6][0].contenido}}</center></TD>
			   <TD><center>{{horario[4][6][0].contenido}}</center></TD>
			</TR>
			<TR>
			   <TD><center>15:00</center></TD>
			   <TD><center>{{horario[0][7][0].contenido}}</center></TD>
			   <TD><center>{{horario[1][7][0].contenido}}</center></TD>
			   <TD><center>{{horario[2][7][0].contenido}}</center></TD>
			   <TD><center>{{horario[3][7][0].contenido}}</center></TD>
			   <TD><center>{{horario[4][7][0].contenido}}</center></TD>
			</TR>
			<TR>
			   <TD><center>16:00</center></TD>
			   <TD><center>{{horario[0][8][0].contenido}}</center></TD>
			   <TD><center>{{horario[1][8][0].contenido}}</center></TD>
			   <TD><center>{{horario[2][8][0].contenido}}</center></TD>
			   <TD><center>{{horario[3][8][0].contenido}}</center></TD>
			   <TD><center>{{horario[4][8][0].contenido}}</center></TD>
			</TR>	
			<TR>
			   <TD><center>17:00</center></TD>
			   <TD><center>{{horario[0][9][0].contenido}}</center></TD>
			   <TD><center>{{horario[1][9][0].contenido}}</center></TD>
			   <TD><center>{{horario[2][9][0].contenido}}</center></TD>
			   <TD><center>{{horario[3][9][0].contenido}}</center></TD>
			   <TD><center>{{horario[4][9][0].contenido}}</center></TD>
			</TR>	
			<TR>
			   <TD><center>18:00</center></TD>
			   <TD><center>{{horario[0][10][0].contenido}}</center></TD>
			   <TD><center>{{horario[1][10][0].contenido}}</center></TD>
			   <TD><center>{{horario[2][10][0].contenido}}</center></TD>
			   <TD><center>{{horario[3][10][0].contenido}}</center></TD>
			   <TD><center>{{horario[4][10][0].contenido}}</center></TD>
			</TR>	
			<TR>
			   <TD><center>19:00</center></TD>
			   <TD><center>{{horario[0][11][0].contenido}}</center></TD>
			   <TD><center>{{horario[1][11][0].contenido}}</center></TD>
			   <TD><center>{{horario[2][11][0].contenido}}</center></TD>
			   <TD><center>{{horario[3][11][0].contenido}}</center></TD>
			   <TD><center>{{horario[4][11][0].contenido}}</center></TD>
			</TR>	
			<TR>
			   <TD><center>20:00</center></TD>
			   <TD><center>{{horario[0][12][0].contenido}}</center></TD>
			   <TD><center>{{horario[1][12][0].contenido}}</center></TD>
			   <TD><center>{{horario[2][12][0].contenido}}</center></TD>
			   <TD><center>{{horario[3][12][0].contenido}}</center></TD>
			   <TD><center>{{horario[4][12][0].contenido}}</center></TD>
			</TR>	
			</TABLE>
	  
	  
	</ion-content>
</ion-view>

