<ion-view view-title="Prueba del horario">
  <ion-content class="padding" has-header="true">

<div class="list">

    <div class="item item-divider">
	    Normal
    </div>
	<a class="item" href="#/tu_horario">
		Tú horario
	</a>
	<a class="item" href="">
		Horario de alguno de tus grupos
	</a>
	<a class="item" href="">
		Cuadrante de guardias de tarde
	</a>		
	
    <div class="item item-divider">
	    Equipo directivo
    </div>
	
	
	<a class="item" href="">
		Horario de cualquier profesor
	</a>
	<a class="item" href="">
		Horario de cualquier grupo
	</a>
	<a class="item" href="">
		Cuandrante de guardias de mañana
	</a>
	<a class="item" href="">
		Cuandrante de Mantenimiento
	</a>
	
</div>	
		  
	  
	</ion-content>
</ion-view>

