<ion-view view-title="Prueba del horario">
    <ion-content class="padding" has-header="true">

        <div class="list">

            <a class="item" href="#/tu_horario">
                Tu horario
            </a>
            <a class="item" href="#/horario_seleccion_grupo">
                Horario de alguno de tus grupos (horario_tus_grupos)
            </a>
            <a class="item" href="">
                Cuadrante de guardias de tarde
            </a>		

            <div class="item item-divider">
                Equipo directivo
            </div>

            <a class="item" href="#/listado_profesores_horario">
                Horario de cualquier profesor
            </a>
            <a class="item" href="#/ed_horario_grupos">
                Horario de cualquier grupo
            </a>
            <a class="item" href="">
                Cuandrante de guardias de mañana
            </a>
            <a class="item" href="">
                Cuandrante de Mantenimiento
            </a>

        </div>  
	  
    </ion-content>
</ion-view>

