<ion-view view-title="App IES San Vicente V 0.0.5 ">
    <ion-content class="padding" has-header="true">

        <center> 
            <div style="width: 80%;">
                <div class="card">

                    <div class="item item-text-wrap">
                        <div class="list">
                            <label class="item item-input">
                                  <input ng-model="dni" type="password" placeholder="DNI:">
                            </label>
                            <label class="item item-input">
                                  <input ng-model="clave_prof" type="password" placeholder="Clave:">
                            </label>
                        </div>
                    </div>
                    <div style="height: 40px; opacity: 0.65" >
                        <a href="#" style="margin-top: 0%" class="button button-block button-light" ng-click="logearse(dni,clave_prof)">
                                <h5 >¡¡Quiero acceder ya!! (SI)</h5>
                        </a>
                    </div>
                </div>
            </div>
        </center>
        
    </ion-content>
</ion-view>

