<ion-view view-title="Menu">
    <ion-content class="padding" has-header="true">
  
        <div class="list">

            <div class="item item-divider">
                Uso frecuente
            </div>

            <a class="item item-icon-left" href="#/notas_parciales_menu">
                <i class="icon ion-compose"></i>
                Notas parciales
            </a>

            <a class="item item-icon-left" href="#/comentario_menu">
                <i class="icon ion-chatbox-working"></i>
                Comentario
            </a>

            <a class="item item-icon-left" href="#/horario_menu">
                <i class="icon ion-android-calendar"></i>
                Horarios
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-android-walk"></i>
                Faltas de alumnos
            </a>

            <div class="item item-divider">
                Otros
            </div>

           <a class="item item-icon-left" href="#">
                <i class="icon ion-clock"></i>
                Retrasos
            </a>

           <a class="item item-icon-left" href="#/menu_listado_alumnos_profesores">
                <i class="icon ion-person-stalker"></i>
                Listado y fotos de alumnos
            </a>


           <a class="item item-icon-left" href="#">
                <i class="icon ion-email"></i>
                Correo a los profesores de un grupo
            </a>


           <a class="item item-icon-left" href="#/faltas">
                <i class="icon ion-sad"></i>
                Faltas de profesores
            </a>

            <a class="item item-icon-left" href="#/reservas">
                <i class="icon ion-key"></i>
                Reserva de recursos
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-eye"></i>
                Publicar fechas de examenes y actividades
            </a>

  <!-- 		  ...

            <a class="item item-icon-left" href="#">
                  <i class="icon ion-person-stalker"></i>
                  Friends
                  <span class="badge badge-assertive">0</span>
            </a>

            <a class="item item-icon-left" href="#">
                  <i class="icon ion-android-walk"></i>
                  Record album
                  <span class="item-note">
                    Grammy
                  </span>
            </a>


 -->
        </div>

    </ion-content>
</ion-view>

