<ion-view view-title="Listado y fotos de alumnos y profesores">
  <ion-content class="padding" has-header="true">

  
		<div class="list">

		  <div class="item item-divider">
			Normal
		  </div>

		  <a class="item" href="#/todos_alumnos/">
<!-- 			<i class="icon ion-compose"></i>
 -->		-->(quitar iconos de las fotos)	Listado de todos tus alumnos en pantalla
		  </a>
		  
<!-- 		  <a class="item" href="#/seleccion_grupo/ver">
			Orla de fotos de todos los profesores (alfabetica)
		  </a>

		  <a class="item" href="#/seleccion_grupo/eliminar"
			Orla e fotos de todos los profesores (por departamento)
		  </a>
 -->
		  <a class="item" href="#/grupos_profesores/{{documento}}">
			<!--		<i class="icon ion-android-walk"></i> -->
			Fotos de los profesores de un grupo
		  </a>

		  
		  <div class="item item-divider">
			Equipo directivo
		  </div>

		<a class="item" href="/#/grupos_listado/no_foto">
		<!--			<i class="icon ion-clock"></i> -->
			Listado de alumnos de un grupo
		</a>

		<a class="item" href="#/lista_profesores">
		<!--			<i class="icon ion-person-stalker"></i> --> 
			Listado de alumnos de un profesor
		</a>
		 
		<a class="item" href="/#/grupos_listado/si_foto">
		<!--			<i class="icon ion-person-stalker"></i> --> 
			Fotos de alumnos de un grupo en pantalla
		</a>
		
		<a class="item" href="#">
		<!--			<i class="icon ion-person-stalker"></i> -->
			--> Ver datos de cualquier alumnos a partir de nombre/apellido
		</a>
		
		
		
		 
<!-- 		  ...

		  <a class="item item-icon-left" href="#">
			<i class="icon ion-person-stalker"></i>
			Friends
			<span class="badge badge-assertive">0</span>
		  </a>
		  
		  <a class="item item-icon-left" href="#">
			<i class="icon ion-android-walk"></i>
			Record album
			<span class="item-note">
			  Grammy
			</span>
		  </a>
		  
		</div>
		
	 -->

  </ion-content>
</ion-view>



  </ion-content>
</ion-view>

