<ion-view view-title="Motivo de la falta?">
  <ion-content class="padding" has-header="true">
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Enfermedad común(sin baja médica)/" class="item">Enfermedad común(sin baja médica)</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Actividad Extraescolar/" class="item">Actividad Extraescolar</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Asistecia a cursos de perfeccionamiento profesional/" class="item">Asistecia a cursos de perfeccionamiento profesional</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Asistencia a conferencias, seminarios, congresos y jornadas/" class="item">Asistencia a conferencias, seminarios, congresos y jornadas</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Asistencia médico, educativo y asistencial/" class="item">Asistencia médico, educativo y asistencial</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Asistecia a pruebas selectivas y exámenes/" class="item">Asistecia a pruebas selectivas y exámenes</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Baja médica/" class="item">Baja médica</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Celebración de matrimonio o unión de hecho" class="item">Celebración de matrimonio o unión de hecho</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Enfermedad de familiares/" class="item">Enfermedad de familiares</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Enfermedad grave o falleciiento de familiar/" class="item">Enfermedad grave o falleciiento de familiar</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Funciones representativas y fomración/" class="item">Funciones representativas y fomración</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Interrupción del embarazo/" class="item">Interrupción del embarazo</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Matrimonio o unión de hecho/" class="item">Matrimonio o unión de hecho</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Nacimiento o adopción/" class="item">Nacimiento o adopción</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Técnicas prenatales/" class="item">Técnicas prenatales</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Translado de domicilio habitual/" class="item">Translado de domicilio habitual</a>
		<a href="#/resumen/{{documento}}/{{horad}}/{{horah}}/{{trab}}/{{fecha}}/Deber inexcusable/" class="item">Deber inexcusable</a>
		
  </ion-content>
</ion-view>