<ion-view view-title="Notas Parciales">
    <ion-content class="padding" has-header="true">

        <div class="list">

		
            <a class="item" href="#/notasp_ver_grupos">
                Insertar una nota parcial
            </a>
            <a class="item" href="#">
                Eliminar una nota parcial
            </a>
            <a class="item" href="#">
                Listado de alumnos y notas parciales
            </a>		

            <div class="item item-divider">
                Equipo directivo
            </div>

            <a class="item" href="#">
                Listado de notas parciales en cualquier grupo
            </a>
            <a class="item" href="#">
                Notas parciales: Borrar una nota parcial
            </a>

        </div>  
	  
    </ion-content>
</ion-view>

